@using MediaResource.Web.Models

@{
	ViewBag.Title = "纸媒选登";
}

@section styles
{
	<link href="~/Content/zTree/zTreeStyle.css" rel="stylesheet" type="text/css" />
}

<div class="row">
	<div class="col-xs-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12">
						<h3 class="panel-title">
							<img src='@Url.Content("~/Images/graphic-icon.png")' />
							纸媒选登
						</h3>
					</div>
				</div>
			</div>
		    <small>请点击“+”打开下一级目录，并点击右侧图片列表获取详细信息</small>
			<div class="panel-body panel-body-tree">
			    <ul id="treeCategory" class="ztree">
			    </ul>
			</div>
		</div>
	</div>
	<div class="col-xs-9">
		<iframe id="iframeGraphicList" height="500" scrolling="no" src='@Url.Action("List", "Graphic", new { ViewBag.Id, ViewBag.AdvSearch })' onload="iframeAutoHeight()"></iframe>
	</div>
</div>

<div id="graphicDetailModal" class="modal fade">
	<div class="modal-dialog modal-dialog-lg">
		<div class="modal-content">
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.ztree.all-3.5.min.js")'></script>
    <script type="text/javascript">
        var firstAsyncSuccessFlag = false;
        var setting = {
            async: {
                enable: true,
                url: '@Url.Action("GetChildNodes", "Category", new {objectType = (int) ObjectType.Graphic})',
                autoParam: ["id"]
            },
            callback: {
                onAsyncSuccess: function (event, treeId, msg) {
                    if (firstAsyncSuccessFlag == false) {
                        //调用默认展开第一个结点
                        var treeObj = $.fn.zTree.getZTreeObj("treeCategory");
                        var nodes = treeObj.getNodes();
                        treeObj.expandNode(nodes[0], true);
                        treeObj.selectNode(nodes[0]);

                        firstAsyncSuccessFlag = true;
                    }
                },
                onClick: function (event, treeId, treeNode) {
                    $("#iframeGraphicList").attr("src", treeNode.href);
                }
            }
        };

        $(function() {
            $.fn.zTree.init($("#treeCategory"), setting);

			// 刷新模态对话框
			$("#graphicDetailModal").on("hidden.bs.modal", function () {
				$(this).removeData("bs.modal");
			});
		});
	</script>
}
