@using MediaResource.Web.Helper
@model List<MediaResource.Web.Models.Music>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<h3 class="panel-title">
							<img src='@Url.Content("~/Images/music-icon.png")' />
							音频素材
						</h3>
					</div>
					<div class="col-xs-6">
						<a href='@Url.Action("Category", "Music")' class="navbar-right">更多&gt;&gt;</a>
					</div>
				</div>
			</div>
			<div id="musicPanelBody" class="panel-body">
				<ul class="list-group">
					@foreach (var item in Model)
					{
						<li class="list-group-item">
							@Html.TrimText(item.Title, 36)
							<a class="badge" data-toggle="modal" href='@Url.Action("Detail", "Music", new { id = item.Id})' data-target="#musicDetailModal">
								查看详细
							</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="musicDetailModal" class="modal fade">
	<div class="modal-dialog modal-dialog-lg">
		<div class="modal-content">
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
