<div id="footer" class="row">
	<div class="col-xs-4 col-xs-offset-1">
		<strong>CopyRight 2014 北京市发改委版权所有</strong>
	</div>
	<div class="col-xs-4 col-xs-offset-3">
		<strong>扫一扫关注官方微信平台</strong>
	</div>
</div>
