<div id="footer" class="row">
	<div class="col-xs-5 col-xs-offset-1">
		<strong>CopyRight 2014 北京市经济干部在线宣传培训中心 版权所有</strong>
	</div>
	<div class="col-xs-4 col-xs-offset-2">
		<strong>扫一扫关注官方微信平台</strong>
	</div>
</div>
