@{
	ViewBag.Title = "联系我们";
}

<div class="row">
	<div class="col-xs-12">
	    <address>
            BTV市发展改革委记者站
	        <br />
	        <br />
            联系电话：63559316
	        <br />
            　　　　　13801042347
	        <br />
	        <br />
            网站维护：13801042347
	        <br />
            　　　　　18511907661
	        <br />
	        <br />
            摄像服务：13801042347
	        <br />
            　　　　　18618109948
	    </address>
    </div>
</div>
