@using MediaResource.Web.Helper
@model List<MediaResource.Web.Models.TaskList>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					<img src='@Url.Content("~/Images/taskList-icon.png")' />
					任务单
				</h3>
			</div>
			<div id="taskListPanelBody" class="panel-body">
				<ul class="list-group">
					@foreach (var item in Model)
					{
						<li class="list-group-item">
							@Html.TrimText(item.Name, 18)
							<span class="badge">
								@Html.FormatValue(item.CreateDate, "{0:yyyy-MM-dd}")
							</span>
						</li>
					}
				</ul>
				<p class="text-center">
					<a data-toggle="modal" class="btn btn-default" href='@Url.Action("Create", "TaskList")' data-target="#createTaskListModal">
						提交任务单
					</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div id="createTaskListModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
